.blue {
    border: 3px solid blue;
    background-color: blue;
    }
    .purple {
    border: 3px solid white;
    background-color: white;
    }
  
    
    .pix {
    height: 50px;
    border: 1px solid white;
    }
    
 